* {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
*:focus {
  outline-color: #901c1c;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  position: relative;
  color: #901c1c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 72%;
  padding-top: 30px;
}
.header__link:hover img {
  transform: scale(1.03);
}
.header__link img {
  max-width: 100%;
  transition: transform 0.2s ease-in;
}

.navbar {
  width: 68%;
}
.navbar__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.navbar__elt {
  display: block;
}
.navbar__elt + .navbar__elt {
  margin-left: 5px;
}
.navbar .isActive {
  background-color: #901c1c;
  color: #ffffff;
}

@media screen and (max-width: 1156px) {
  .header {
    width: 72%;
  }
  .header__link img {
    width: 150px;
  }
}
@media screen and (max-width: 767px) {
  body {
    padding: 0;
  }

  .header {
    padding: 30px 22px;
    width: 100%;
  }

  .navbar {
    order: 3;
    width: auto;
  }
  .navbar__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 34px 40px;
  }
  .navbar__elt {
    line-height: 28px;
  }
}
.btn {
  font-size: 0.66em;
  padding: 3px 7px;
  border: 1px solid #c4c4c4;
  border-radius: 25em;
  background-color: transparent;
  color: #901c1c;
  transition: all 0.2s ease-in;
}
.btn:hover {
  cursor: pointer;
  background: #901c1c;
  color: white;
}
.btn::before {
  content: "#";
}

.card {
  min-width: 210px;
  text-align: center;
  flex: 0 0 30%;
  margin-bottom: 50px;
}
.card__link {
  display: block;
}
.card__link:hover, .card__link:focus {
  cursor: pointer;
}
.card__link:hover .card__img, .card__link:focus .card__img {
  transform: scale(1.04);
}
.card__link:hover .card__title, .card__link:focus .card__title {
  color: #901c1c;
}
.card__img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease-in;
}
.card__title {
  color: #d3573c;
  font-size: 2em;
  margin-top: 0.33em;
  transition: color 0.2s ease-in;
  position: relative;
}
.card__location {
  font-size: 0.7em;
  margin-bottom: 3px;
}
.card__catchPhrase {
  font-size: 0.55em;
  color: #000;
  margin-bottom: 3px;
}
.card__dailyRate {
  font-size: 0.5em;
  color: #757575;
  margin-bottom: 5px;
}
.card__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.card__listElt + .card__listElt {
  margin-left: 5px;
}
.card__listElt .btn:hover {
  cursor: default;
  background-color: #fff;
  color: #901c1c;
}

.anchor__link {
  position: fixed;
  z-index: 10;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px 7px;
  margin-top: 6px;
  border-radius: 5px;
  background-color: #901c1c;
  color: #fff;
  transition: all 0.4s ease;
}
.anchor__link:hover {
  background-color: #d3573c;
  color: #000;
}
.anchor__link.showAnchor {
  transform: translate(-50%, 40px);
  transition: all 0.4s ease;
}

#content {
  max-width: 1440px;
  padding: 42px 100px;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}

.content__title {
  position: absolute;
  top: 30px;
  right: 100px;
  white-space: nowrap;
}

@media screen and (max-width: 1239px) {
  .content__title {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 1200px) {
  .content__title {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 1156px) {
  .content {
    width: 72%;
  }
  .content__title {
    right: 100px;
  }
}
@media screen and (max-width: 1114px) {
  #content {
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .content {
    padding: 30px 22px;
    width: 100%;
  }
  .content__title {
    top: 38px;
    right: 18px;
    font-size: 1em;
    order: 2;
  }
}
@media screen and (max-width: 661px) {
  #content {
    padding: 20px;
  }
}/*# sourceMappingURL=style.css.map */