.banner {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: $color-quaternary;
  padding: 2.8em;
  gap: 2.3em;
  &__aside {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__title {
    color: $color-primary;
    font-size: 3.5em;
  }
  &__location {
    font-size: 1.5em;
  }
  &__catchPhrase {
    color: $color-tertiary;
  }
  &__img {
    @include roundImg;
  }
  &__aside {
    flex-grow: 1;
  }
  &__btn {
    @include btn-primary(1.5em, 1em);
  }
  &__list {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    .btn {
      font-size: 1em;
    }
  }
}

@media screen and (max-width: $mobile) {
  .banner {
    background-color: transparent;
    padding: 0.5em;
    gap: 0;
    &__btn {
      position: fixed;
      bottom: 30px;
      padding: 0.375em 1.25em;
      z-index: 10;
      font-size: 1em;
      left: 50%;
      transform: translateX(-50%);
    }
    &__aside {
      align-items: center;
    }
    &__img {
      width: 100px;
      height: 100px;
    }
    &__title {
      font-size: 2em;
    }
    &__list {
      flex-wrap: wrap;
    }
    &__location,
    &__catchPhrase,
    &__listElt {
      font-size: 0.7em;
    }
  }
}
