.btn {
  font-size: 0.66em;
  padding: 3px 7px;
  border: 1px solid $color-border;
  border-radius: 25em;
  background-color: transparent;
  color: $color-secondary;
  transition: all 0.2s ease-in;
  &:hover,
  &:focus {
    cursor: pointer;
    background: $color-secondary;
    color: white;
  }
}
