.card {
  min-width: 210px;
  text-align: center;
  flex: 0 0 30%;
  //   border: 1px solid pink;
  margin-bottom: 50px;
  &__link {
    display: block;
    &:hover,
    &:focus {
      cursor: pointer;
      .card {
        &__img {
          transform: scale(1.04);
        }
        &__title {
          color: $color-secondary;
        }
      }
    }
  }
  &__img {
    @include roundImg;
    transition: transform 0.2s ease-in;
  }
  &__title {
    color: $color-primary;
    font-size: 2em;
    margin-top: 0.33em;
    transition: color 0.2s ease-in;
    position: relative;
  }
  &__location {
    font-size: 0.7em;
    margin-bottom: 3px;
  }
  &__catchPhrase {
    font-size: 0.55em;
    color: #000;
    margin-bottom: 3px;
  }
  &__dailyRate {
    font-size: 0.5em;
    color: #757575;
    margin-bottom: 5px;
  }
  &__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  &__listElt {
    + .card__listElt {
      margin-left: 5px;
    }
  }
}

.isHidden {
  display: none;
}
