.card {
  min-width: 210px;
  text-align: center;
  flex: 0 0 30%;
  //   border: 1px solid pink;
  margin-bottom: 50px;
  &__link {
    display: block;
    &:hover,
    &:focus {
      .card {
        &__img {
          transform: scale(1.04);
        }
        &__title {
          color: $color-secondary;
        }
      }
    }
  }
  &__img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease-in;
  }
  &__title {
    color: $color-primary;
    font-size: 2em;
    margin-top: 0.33em;
    transition: color 0.2s ease-in;
    position: relative;
  }
  &__location {
    font-size: 0.7em;
    margin-bottom: 3px;
  }
  &__catchPhrase {
    font-size: 0.55em;
    color: #000;
    margin-bottom: 3px;
  }
  &__dailyRate {
    font-size: 0.5em;
    color: #757575;
    margin-bottom: 5px;
  }
  &__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  &__listElt {
    + .card__listElt {
      margin-left: 5px;
    }
    & .btn {
      &:hover {
        cursor: default;
        background-color: #fff;
        color: $color-secondary;
      }
    }
  }
}
