.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em 5em;
  margin: 2em auto;
  &__btn {
    border: none;
    background: transparent;
    padding: 0;
  }
  &__card {
    max-width: 350px;
    margin-bottom: 1em;
  }
  &__img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    &:hover {
      cursor: pointer;
      filter: grayscale(100%);
      transform: scale(1.02);
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
}

.likes {
  &__num {
    margin-right: 0.35em;
  }
  &__btn {
    border: none;
    color: $color-secondary;
    padding: 0;
    background-color: transparent;
    font-size: 1em;
    cursor: pointer;
    transition: all 200ms ease-in;
    &:hover,
    &:focus {
      transform: scale(1.15);
    }
  }
}
