.header {
  max-width: 1440px;
  padding: 42px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__elt {
    display: block;
    + .navbar__elt {
      margin-left: 5px;
    }
  }
}
