.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 72%;
  padding-top: 30px;
  // padding-left: 100px;
  &__link {
    &:hover img {
      transform: scale(1.03);
    }
    & img {
      max-width: 100%;
      transition: transform 0.2s ease-in;
    }
  }
}

.navbar {
  width: 68%;
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  &__elt {
    display: block;
    + .navbar__elt {
      margin-left: 5px;
    }
  }
  & .isActive {
    background-color: $color-secondary;
    color: #ffffff;
  }
}

@media screen and (max-width: 1156px) {
  .header {
    width: 72%;
    &__link img {
      width: 150px;
    }
  }
}

@media screen and (max-width: 767px) {
  body {
    padding: 0;
  }
  .header {
    padding: 30px 22px;
    width: 100%;
  }
  .navbar {
    order: 3;
    width: auto;
    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 34px 40px;
    }
    &__elt {
      line-height: 28px;
    }
  }
}
