.header {
  max-width: 1440px;
  padding: 42px 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__link {
    transition: transform 0.2s ease-in;
    &:hover {
      transform: scale(1.03);
    }
  }
}

.navbar {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__elt {
    display: block;
    + .navbar__elt {
      margin-left: 5px;
    }
  }
}
