@mixin btn-primary($marginV, $marginH) {
  border-radius: 5px;
  background-color: $color-secondary;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  padding: $marginV $marginH;
  border: none;
  font-weight: 700;
  transition: all 0.2s ease-in;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $color-primary;
    color: #000;
  }
}

@mixin roundImg {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

@mixin lightbox-btn($width, $height) {
  border: none;
  width: $width;
  height: $height;
  text-indent: -9999px;
  // position: absolute;
  opacity: 0.5;
  transition: opacity 0.2s;
  cursor: pointer;
  &:hover,
  &:focus {
    opacity: 1;
  }
  &:focus {
    border: 2px solid $color-secondary;
    border-radius: 5px;
  }
}
